body {
	background-color: black;
}

h1, h2, p {
	color:gold;
}

h1 {
	margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
	font: 40px sans-serif;
}
h2 {
	font: 14px sans-serif;
	margin-right: 100px;
    margin-left: 100px;
}
p {
	font: 14px/20px sans-serif;
	margin-right: 100px;
    margin-left: 100px;
}