@import url(https://fonts.googleapis.com/css?family=Raleway:100);
@import url(https://fonts.googleapis.com/css?family=Roboto);

	body {
	color: black;
	background-image: url("../images/blured_cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
	margin: auto;
	padding-left: 100px;
	padding-right: 100px;
	max-width: 900px;

}

#logo {
   	margin-top: 100px;
    text-align: center;
}
#subject {
	text-align: center;
}
.footer{
	font-size: 12px;
}
.column1 {
	float: left;
	max-width: 280px;
	padding-right: 20px;
	text-align: justify;
	padding-bottom: 20px;
}

.column2 {
	float: left;
	max-width: 280px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	padding-bottom: 20px;
}

.column3 {
	float: left;
	max-width: 280px;
	padding-left: 20px;
	text-align: justify;
	padding-bottom: 30px;
}

.1column {
	padding-top: 100px;
	max-width: 900px;
}

h2, h3, p, li {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	margin-top: 50px;
	font-size: 40px;
}
h2 {
	font-size: 14px;

}
h3 {
	margin-top: -10px;
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
}
p {
	font-size: 14px;
	line-height: 1.4em;
}
