
body {
	color: black;
	background-image: url("../images/blured_cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
	margin: auto;
	padding-left: 100px;
	padding-right: 100px;
	max-width: 900px;

}

#logo {
   	margin-top: 100px;
    text-align: center;
}
#subject {
	text-align: center;
}

.column1 {
	float: left;
	max-width: 280px;
	padding-right: 20px;
	text-align: justify;
	padding-bottom: 20px;
}

.column2 {
	float: left;
	max-width: 280px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	padding-bottom: 20px;
}

.column3 {
	float: left;
	max-width: 280px;
	padding-left: 20px;
	text-align: justify;
	padding-bottom: 30px;
}

.1column {
	padding-top: 100px;
	max-width: 900px;
}

h1, h2, h3, p, li {
	color: #ffffff;
	font-family: "open sans", sans-serif;

}

h1 {
	margin-top: 50px;
	font-size: 32px;
	font-weight: 100;
}
h2 {
	font-size: 14px;
	
}
h3 {
	margin-top: -10px;
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
}
p {
	font-size: 14px/20px;
}

